@model Turnos31.Models.Rol

@{
    ViewData["Title"] = "Detalles del Rol";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Detalles del Rol</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Nombre del Rol</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.NombreRol)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>
                    </dl>

                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left me-1"></i>Volver
                        </a>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.IdRol" class="btn btn-primary">
                                <i class="bi bi-pencil me-1"></i>Editar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 